In [1]:
#Import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler, MinMaxScaler,OneHotEncoder, LabelEncoder
from mpl_toolkits.mplot3d import Axes3D
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score,calinski_harabasz_score, davies_bouldin_score
from sklearn.impute import SimpleImputer
import re
from mpl_toolkits.mplot3d import Axes3D

In [2]:
#Setting random state for reproducibility
rs = min(323001,328854) #since there are two students
np.random.seed(rs)
R = np.random.RandomState(rs)

In [3]:
km = KMeans(random_state=rs) 
df_tot=pd.read_csv('cla4lsp customers.csv',sep='\t')
df_tot

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Graduation,Married,61223.0,0,1,13-06-2013,46,709,...,5,0,0,0,0,0,0,3,11,0
2236,4001,1946,PhD,Together,64014.0,2,1,10-06-2014,56,406,...,7,0,0,0,1,0,0,3,11,0
2237,7270,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,908,...,6,0,1,0,0,0,0,3,11,0
2238,8235,1956,Master,Together,69245.0,0,1,24-01-2014,8,428,...,3,0,0,0,0,0,0,3,11,0
2239,9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,84,...,7,0,0,0,0,0,0,3,11,1

In [7]:
#Sample 2/3 of the dataset 
workdf=df_tot.sample(frac=2/3,random_state=rs)
#check if percentage matches
workdf.shape[0]/df_tot.shape[0]
workdf.columns
workdf=workdf.drop(columns=["ID","Z_CostContact","Z_Revenue"])

In [8]:
#Randomly remove one column
def random_column():
    features_removable=[
    "MntWines", "MntFruits",
    "MntMeatProducts", "MntFishProducts", "MntSweetProducts", "MntGoldProds",
    "NumWebPurchases", "NumCatalogPurchases", "NumStorePurchases"
]
    R = np.random.RandomState(rs)
    random_index=R.randint(0,len(features_removable))
    return features_removable[random_index]
column_to_remove=random_column()
workdf=workdf.drop(columns=column_to_remove)

In [9]:
column_to_remove

'MntWines'

In [10]:
#check for missing values
workdf.isna().sum()

Year_Birth              0
Education               0
Marital_Status          0
Income                 17
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Complain                0
Response                0
dtype: int64

In [11]:
workdf = workdf.dropna(subset=['Income'])

In [12]:
# Now all null values have been removed. Let's check if some categorical attribute has been enconded with some string such as 'Unknown'
cat_col_to_check=[]
for column in workdf.columns:
    if pd.api.types.is_object_dtype(workdf[column]):
       cat_col_to_check.append(column)

In [13]:
#Let's check the unique values of these columns
for column in cat_col_to_check:
    print(column,workdf[column].unique())

Education ['Master' 'Graduation' 'Basic' 'PhD' '2n Cycle']
Marital_Status ['Married' 'Together' 'Single' 'Divorced' 'Alone' 'Widow' 'Absurd' 'YOLO']
Dt_Customer ['01-10-2012' '24-03-2013' '04-11-2013' '29-11-2013' '24-10-2013'
 '01-10-2013' '02-01-2013' '07-05-2013' '11-12-2012' '15-02-2014'
 '27-01-2014' '25-01-2014' '03-11-2012' '29-10-2012' '27-12-2013'
 '18-07-2013' '21-07-2013' '04-05-2014' '11-05-2013' '10-03-2013'
 '26-11-2013' '01-03-2014' '04-05-2013' '13-10-2012' '07-07-2013'
 '05-05-2013' '27-08-2012' '15-05-2013' '06-04-2013' '10-12-2013'
 '20-03-2013' '12-10-2013' '30-04-2014' '05-10-2013' '26-03-2013'
 '06-10-2013' '04-01-2014' '06-12-2012' '04-08-2012' '03-08-2012'
 '20-11-2012' '24-05-2014' '18-02-2013' '01-07-2013' '22-06-2013'
 '07-09-2012' '30-05-2013' '29-03-2013' '25-02-2014' '30-10-2013'
 '04-03-2013' '28-09-2012' '22-12-2012' '27-05-2013' '09-12-2013'
 '12-04-2013' '02-10-2013' '03-04-2014' '17-03-2014' '24-08-2012'
 '07-08-2013' '16-01-2013' '20-12-2013' '23-01-2013' '12-05-2013'
 '12-05-2014' '29-05-2014' '15-09-2012' '10-06-2013' '12-10-2012'
 '19-05-2013' '11-01-2013' '30-06-2013' '19-06-2013' '05-04-2014'
 '09-02-2013' '21-05-2013' '02-08-2012' '01-08-2012' '15-01-2013'
 '28-09-2013' '23-03-2014' '20-08-2013' '29-12-2013' '27-06-2013'
 '15-01-2014' '21-03-2014' '12-12-2013' '02-06-2013' '20-02-2013'
 '18-04-2013' '05-06-2014' '31-03-2014' '13-11-2013' '04-07-2013'
 '27-01-2013' '22-09-2013' '11-08-2012' '02-08-2013' '29-06-2014'
 '21-10-2013' '17-02-2014' '23-12-2013' '13-01-2013' '31-08-2012'
 '23-01-2014' '24-01-2014' '17-09-2013' '01-12-2013' '11-10-2013'
 '01-11-2012' '21-11-2013' '08-05-2014' '25-05-2014' '19-03-2014'
 '17-10-2012' '16-03-2013' '22-08-2013' '22-05-2014' '10-02-2014'
 '23-06-2014' '11-09-2013' '03-03-2014' '18-06-2013' '04-08-2013'
 '10-09-2012' '04-12-2012' '26-05-2013' '09-03-2013' '17-11-2012'
 '05-08-2013' '06-05-2013' '07-11-2013' '12-09-2013' '17-06-2014'
 '13-06-2013' '08-06-2013' '29-04-2013' '03-07-2013' '27-09-2013'
 '30-10-2012' '16-11-2012' '07-05-2014' '17-08-2012' '09-02-2014'
 '09-11-2012' '04-09-2013' '05-10-2012' '06-09-2012' '10-05-2014'
 '30-03-2014' '29-08-2012' '22-06-2014' '25-08-2013' '25-09-2012'
 '10-01-2013' '23-11-2012' '21-08-2012' '31-07-2012' '03-09-2012'
 '27-02-2014' '10-11-2012' '28-06-2013' '10-06-2014' '05-12-2012'
 '05-04-2013' '18-04-2014' '15-07-2013' '11-04-2014' '06-06-2014'
 '07-09-2013' '14-02-2013' '14-11-2013' '06-02-2013' '23-05-2013'
 '02-11-2013' '19-05-2014' '11-12-2013' '17-02-2013' '22-03-2013'
 '05-11-2013' '26-01-2014' '25-08-2012' '27-02-2013' '27-07-2013'
 '06-11-2012' '23-06-2013' '31-10-2012' '07-06-2014' '10-10-2012'
 '08-01-2013' '25-10-2012' '23-03-2013' '25-03-2014' '28-08-2013'
 '11-02-2013' '08-08-2012' '11-01-2014' '14-10-2013' '12-01-2013'
 '08-03-2013' '29-11-2012' '14-09-2013' '15-06-2014' '27-04-2013'
 '19-01-2013' '02-04-2013' '10-04-2014' '25-12-2013' '23-05-2014'
 '17-01-2013' '19-11-2012' '13-04-2014' '17-05-2014' '10-03-2014'
 '27-06-2014' '04-10-2013' '02-09-2013' '21-02-2013' '22-04-2013'
 '16-02-2013' '06-11-2013' '15-04-2013' '09-05-2014' '09-08-2012'
 '13-12-2013' '17-12-2013' '06-09-2013' '27-08-2013' '15-12-2012'
 '02-10-2012' '18-03-2014' '04-06-2013' '16-09-2013' '19-03-2013'
 '15-11-2013' '11-05-2014' '22-10-2012' '18-09-2012' '01-01-2014'
 '18-10-2013' '14-06-2014' '24-04-2014' '13-11-2012' '07-01-2013'
 '09-06-2014' '12-08-2012' '28-11-2012' '07-01-2014' '20-06-2013'
 '08-09-2012' '12-12-2012' '01-04-2013' '11-03-2013' '12-03-2013'
 '07-11-2012' '17-10-2013' '08-10-2013' '16-04-2014' '22-05-2013'
 '26-12-2012' '14-08-2013' '16-12-2012' '08-06-2014' '24-12-2012'
 '09-09-2012' '29-07-2013' '05-09-2012' '06-01-2013' '03-10-2013'
 '10-11-2013' '22-08-2012' '20-04-2014' '21-04-2013' '19-01-2014'
 '14-12-2013' '01-02-2014' '27-03-2013' '18-09-2013' '23-04-2014'
 '27-11-2013' '22-01-2014' '29-01-2014' '02-12-2012' '11-06-2013'
 '28-02-2013' '24-08-2013' '17-06-2013' '18-11-2013' '05-09-2013'
 '12-11-2013' '30-01-2014' '03-12-2012' '04-09-2012' '15-08-2013'
 '01-11-2013' '27-10-2012' '17-04-2013' '07-02-2014' '05-03-2014'
 '21-03-2013' '29-01-2013' '16-05-2014' '12-02-2013' '02-05-2013'
 '17-07-2013' '03-06-2013' '12-03-2014' '02-05-2014' '25-10-2013'
 '22-01-2013' '24-09-2013' '02-01-2014' '30-12-2013' '14-01-2014'
 '03-04-2013' '05-01-2014' '21-12-2012' '30-08-2012' '03-01-2014'
 '21-06-2013' '26-05-2014' '09-04-2013' '19-06-2014' '30-08-2013'
 '07-02-2013' '19-07-2013' '22-02-2013' '30-09-2013' '25-11-2013'
 '01-03-2013' '25-03-2013' '18-05-2013' '26-02-2014' '04-04-2014'
 '15-10-2013' '11-04-2013' '22-03-2014' '24-11-2012' '29-09-2012'
 '17-05-2013' '12-11-2012' '05-07-2013' '18-01-2014' '29-04-2014'
 '05-03-2013' '28-04-2014' '02-02-2014' '25-09-2013' '22-11-2013'
 '31-05-2014' '19-12-2012' '03-11-2013' '26-08-2013' '18-03-2013'
 '29-08-2013' '05-11-2012' '29-05-2013' '15-04-2014' '13-10-2013'
 '21-01-2014' '23-08-2013' '31-05-2013' '23-07-2013' '11-03-2014'
 '06-03-2013' '08-07-2013' '08-11-2012' '13-07-2013' '26-03-2014'
 '04-12-2013' '03-02-2013' '31-01-2014' '28-05-2013' '20-10-2013'
 '01-04-2014' '24-06-2014' '31-08-2013' '17-03-2013' '06-04-2014'
 '28-01-2014' '19-08-2012' '07-04-2014' '16-03-2014' '07-03-2014'
 '02-07-2013' '08-11-2013' '01-08-2013' '24-01-2013' '19-12-2013'
 '26-09-2013' '16-12-2013' '12-02-2014' '25-12-2012' '28-10-2012'
 '28-10-2013' '30-12-2012' '08-04-2013' '23-02-2013' '16-06-2014'
 '26-01-2013' '08-03-2014' '01-02-2013' '04-01-2013' '24-02-2014'
 '30-03-2013' '20-05-2013' '10-09-2013' '03-05-2014' '19-11-2013'
 '02-02-2013' '03-05-2013' '18-05-2014' '20-01-2013' '02-11-2012'
 '28-02-2014' '17-12-2012' '03-08-2013' '16-10-2013' '26-11-2012'
 '01-01-2013' '25-06-2014' '07-12-2013' '29-06-2013' '18-08-2012'
 '15-02-2013' '06-10-2012' '29-12-2012' '25-11-2012' '14-09-2012'
 '18-12-2012' '24-12-2013' '15-03-2013' '09-01-2013' '10-12-2012'
 '23-09-2013' '24-09-2012' '06-08-2012' '31-12-2013' '19-02-2013'
 '24-07-2013' '28-05-2014' '05-01-2013' '13-02-2014' '26-08-2012'
 '26-12-2013' '09-05-2013' '10-01-2014' '31-07-2013' '12-08-2013'
 '31-03-2013' '23-11-2013' '22-09-2012' '30-07-2012' '11-10-2012'
 '29-10-2013' '04-02-2013' '19-10-2012' '16-02-2014' '16-08-2013'
 '04-10-2012' '15-10-2012' '06-08-2013' '05-02-2014' '15-05-2014'
 '14-10-2012' '08-04-2014' '23-10-2013' '13-05-2014' '28-11-2013'
 '07-03-2013' '19-08-2013' '07-08-2012' '10-04-2013' '28-03-2013'
 '21-04-2014' '16-08-2012' '13-01-2014' '14-11-2012' '23-09-2012'
 '20-03-2014' '22-07-2013' '16-10-2012' '12-09-2012' '24-03-2014'
 '12-07-2013' '08-05-2013' '12-04-2014' '06-03-2014' '25-06-2013'
 '13-04-2013' '09-10-2013' '19-02-2014' '10-02-2013' '28-08-2012'
 '26-06-2014' '01-12-2012' '19-04-2013' '03-01-2013' '21-11-2012'
 '09-09-2013' '14-04-2014' '09-03-2014' '01-09-2012' '13-08-2012'
 '12-06-2014' '17-01-2014' '24-04-2013' '01-05-2013' '18-11-2012'
 '11-11-2012' '28-12-2012' '06-02-2014' '14-02-2014' '25-07-2013'
 '16-04-2013' '02-06-2014' '02-03-2013' '06-06-2013' '01-06-2013'
 '11-02-2014' '21-08-2013' '02-12-2013' '02-03-2014' '19-09-2012'
 '26-06-2013' '03-03-2013' '17-09-2012' '16-07-2013' '06-12-2013'
 '04-11-2012' '23-04-2013' '22-10-2013' '19-10-2013' '15-12-2013'
 '26-04-2014' '20-08-2012' '11-09-2012' '26-09-2012' '28-03-2014'
 '23-10-2012' '16-06-2013' '21-06-2014' '10-08-2013' '13-05-2013'
 '28-04-2013' '12-06-2013' '22-11-2012' '14-01-2013' '09-04-2014'
 '09-06-2013' '20-09-2012' '09-07-2013' '28-06-2014' '29-03-2014'
 '27-10-2013' '05-05-2014' '21-12-2013' '18-06-2014' '17-04-2014'
 '26-10-2012' '03-06-2014' '01-09-2013' '09-08-2013' '02-04-2014'
 '10-05-2013' '30-04-2013' '26-07-2013' '07-12-2012' '14-07-2013'
 '09-10-2012' '02-09-2012' '31-01-2013' '13-08-2013' '14-03-2013'
 '18-02-2014' '20-09-2013' '21-09-2013' '19-09-2013' '04-03-2014'
 '23-12-2012' '18-10-2012' '20-06-2014' '16-05-2013' '09-01-2014'
 '27-03-2014' '30-11-2012' '11-08-2013' '20-04-2013' '20-12-2012'
 '20-11-2013' '17-08-2013' '13-06-2014' '08-02-2014' '05-08-2012'
 '25-02-2013' '10-10-2013' '07-04-2013' '26-10-2013' '14-12-2012'
 '24-06-2013' '18-12-2013' '15-09-2013' '30-07-2013']

In [14]:
#All the categorical attributes have a proper domain. We can proceed with the enconding of the categorical data.

# Exercise 2 (Encoding of Categorical Data)

In [15]:
#Ideas:

In [16]:
#Date: since date contain some ciclycal data (day and month repeat), we can split date in three variables: day,month,year.
#We can encode day and month with sine/cosine function, as 24:00 is close to 1:00 and December is close to January.
#We can preprocess education with label encoding, since there's a natural order between the education levels.
#We can encode marital_status with one-hot encoding, since the domain of values is limited and there's no order among values.
#We can proceed with the encoding phase:
enc_marital_status = OneHotEncoder(sparse=False)
enc_education = LabelEncoder()
enc_marital_status_df = pd.DataFrame(enc_marital_status.fit_transform(workdf[['Marital_Status']]),columns=enc_marital_status.categories_[0])
tmp_df=workdf.copy().reset_index(drop=True)
workdf=tmp_df.merge(enc_marital_status_df,left_index=True, right_index=True,how='left')
#TODO: datetime
#TODO: compute age

/home/omio/.local/lib/python3.8/site-packages/sklearn/preprocessing/_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [17]:
workdf['Education_encoded']=enc_education.fit_transform(workdf['Education'])

In [18]:
workdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1476 entries, 0 to 1475
Data columns (total 34 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Year_Birth           1476 non-null   int64
 1   Education            1476 non-null   object
 2   Marital_Status       1476 non-null   object
 3   Income               1476 non-null   float64
 4   Kidhome              1476 non-null   int64
 5   Teenhome             1476 non-null   int64
 6   Dt_Customer          1476 non-null   object
 7   Recency              1476 non-null   int64
 8   MntFruits            1476 non-null   int64
 9   MntMeatProducts      1476 non-null   int64
 10  MntFishProducts      1476 non-null   int64
 11  MntSweetProducts     1476 non-null   int64
 12  MntGoldProds         1476 non-null   int64
 13  NumDealsPurchases    1476 non-null   int64
 14  NumWebPurchases      1476 non-null   int64
 15  NumCatalogPurchases  1476 non-null   int64
 16  NumStorePurchases    1476 non-null   int64
 17  NumWebVisitsMonth    1476 non-null   int64
 18  AcceptedCmp3         1476 non-null   int64
 19  AcceptedCmp4         1476 non-null   int64
 20  AcceptedCmp5         1476 non-null   int64
 21  AcceptedCmp1         1476 non-null   int64
 22  AcceptedCmp2         1476 non-null   int64
 23  Complain             1476 non-null   int64
 24  Response             1476 non-null   int64
 25  Absurd               1476 non-null   float64
 26  Alone                1476 non-null   float64
 27  Divorced             1476 non-null   float64
 28  Married              1476 non-null   float64
 29  Single               1476 non-null   float64
 30  Together             1476 non-null   float64
 31  Widow                1476 non-null   float64
 32  YOLO                 1476 non-null   float64
 33  Education_encoded    1476 non-null   int64
dtypes: float64(9), int64(22), object(3)
memory usage: 392.2+ KB

In [19]:
enc_education.classes_

array(['2n Cycle', 'Basic', 'Graduation', 'Master', 'PhD'], dtype=object)

# Preprocessing

In [ ]:
#preprocessing of income , year of birth, Kidhome,Teenhome, MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth

In [ ]:
features=

In [ ]:
Xworkdf=workdf[features].copy()